.bestTestiContainer{
    padding: 25px;
    background-color: #f84d4f;
    width: 80vw;
    border-radius: 5px;
    margin: -55px auto 55px auto;
    position: relative;
    z-index: 2;
    /* margin: auto; */
    display: flex;
    color: white;
}
.quoteIcon{
    width: 220px;
    height: 100px;
}
.testiQuote{
    width: 45px;
    height: 45px;
}
.testiText{
    font-size: 20px;
}
.testiBy{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.byName{
    text-transform: uppercase;
    font-size: 16px;
}
.allTestimoniContainer{
    padding: 35px 75px 75px 75px;
    background-color: #f1f8fc;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.testimoniContainer{
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
}
.byWho{
    padding: 0 5px;
    font-size: 15px;
}
.quoteIconTestimoni{
    width: 220px;
    height: 100px;
}
.testiQuoteIcon{
    color: rgb(24, 189, 189);
    width: 45px;
    height: 45px;
}