.allBlogsHero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 75px;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;

}
.mainBlog{
    background-color: white;
    width: 309px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #aaaaaa;
}