.formContainer{
    background-color: rgb(237, 76, 76);
    padding: 15px;
    border-radius: 5px;
    /* box-shadow: 50px; */
    display: flex;
    height: 40vh;
    position: relative;
    margin: -20px auto 20px auto;
    width: 80vw;
    color: white;
    /* left: 35px; */
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.formText{
    margin: 0px 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form{
    flex: 1;
}
.formText .title{
    padding: 25px 0;
    margin: 5px 0;
}
.formText .info{
    text-align: left;
    padding: 25px 0;
    margin: 5px 0;
}
.formText .hrline{
    height: 0.1rem;
    width: 10rem;
    margin: 15px 0;
    background-color: white;
}
.input input{
    background-color: rgb(227, 101, 101);
    opacity: 0.8;
    padding: 5px;
    margin: 5px;
    height: 52px;
    width: 360px;
    color: white;
    border: 0;
    border-radius: 8px;
}

.input select{
        background-color: rgb(227, 101, 101);
        opacity: 0.8;
        padding: 5px;
        margin: 5px;
        height: 52px;
        width: 360px;
        color: white;
        border: 0px;
        font-size: 20px;
        border-radius: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 20px;
    opacity: 1; /* Firefox */
  }

.form button{
    color: rgb(237, 76, 76);
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    height: 48px;
    width: 400px;
    border: 0px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 0 rgb(24, 189, 189);
  -webkit-transition: ease-in-out 0.6s;
  -moz-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}

.form button:hover{
    color: white;
    box-shadow: inset 400px 0 0 0 rgb(24, 189, 189);
    
    
}

@media(max-width: 1500px){
    .formContainer{
        flex-direction: column;
        padding: 5px;
        width: 900px;
        height: 60vh;
    }
}
@media(max-width: 900px){
    .formContainer{
        flex-direction: column;
        padding: 5px;
        width: 700px;
    }
    .input input{
        height: 40px;
        width: 300px;
    }
    
    .input select{
        height: 40px;
        width: 300px;
    }
    .button button{
        color: rgb(237, 76, 76);
        padding: 5px;
        margin: 5px;
        font-size: 20px;
        height: 45px;
        width: 250px;
    }
}