.footerContainer{
    text-align: center;
    color: white;
}
a{
    color: white
}
.locationFooter{
    display: flex;
    padding: 30px;
    background-color: rgb(24, 189, 189);
}
.aboutCare{
    flex: 1;
}
.vrLine{
    background-color: white;
    width: 1.2px;
    margin: 10px;
}
.careFind{
    flex: 1;
    display: flex;
    padding: 5px;
    font-size: 20px;
    flex-direction: column;
}
.handles{
    flex: 1;
    display: flex;
    
    padding: 5px;
    font-size: 20px;
    flex-direction: column;
}
.careFind a{
    text-decoration: none;
    color: white;
}
.handles a{
    text-decoration: none;
    color: white;
}
.careFind :hover{
    transition: 0.3s ease-in-out;
    color: teal;
}
.handles :hover{
    transition: 0.3s ease-in-out;
    color: teal;
}
.navFooterContainer{
    background-color: rgb(11, 165, 165);
    padding: 25px;
}
.navFooter{
    padding: 24px;
    background-color: rgb(11, 165, 165);
}
.navFooter a{
    padding: 15px;
    text-decoration: none;
    color: white;
}
.navFooter :hover{
    padding: 15px;
    transition: 0.3s ease-in-out;
    color: rgb(24, 189, 189);
}