.headerContainer{
    width: 100%;
    /* height: 120px; */
    display: flex;
    align-items: center;
    background-color: rgb(24, 189, 189);
}
.headerContainer .logo{
    width: 90%;
    margin: 10px;
    border-radius: 10px;
}
.navContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navItems{
    margin: 5px;
    display: flex;
}
.navItem{
    margin: 7px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.navItems :hover{
    color:rgb(25, 119, 119);
    transition: 0.3s ease-in;
}
.navItemsSmallScreen{
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navItemsSmallScreen .navItemSmallScreen{
    margin: 7px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.navItemsSmallScreen :hover{
    color:rgb(25, 119, 119);
    transition: 0.3s ease-in;
}
.infoContainerSmallScreen{
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.patientInfoSmallScreen{
    display: flex;
    flex-direction: column;
}
.patientInfoSmallScreen .infoItemSmallScreen{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-decoration: none;
    color: white;
}
.patientInfoSmallScreen .infoItemSmallScreen:hover{
    color:rgb(25, 119, 119);
    transition: 0.3s ease-in;
}
.infoContainerSmallScreen .contactUsSmallScreen{
    margin: 7px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.infoContainerSmallScreen .contactUsSmallScreen:hover{
    color:rgb(25, 119, 119);
    transition: 0.3s ease-in;
}
/* .infoContainer{
    background-color: black;
    height: 100px;
    flex: 1;
} */
.patientInfo{
    margin: 10px;
}
.infoItem{
    margin: 7px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.patientInfo :hover{
    color:rgb(25, 119, 119);
    transition: 0.3s ease-in;
}
.contactUs{
    margin: 12px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.contactUs :hover{
    color:rgb(25, 119, 119);
    transition: 0.3s ease-in;
}
.navbarSmallScreen{
    display: none;
    overflow-x: hidden;
    margin-right: 15px;
}
.navbarSmallScreenOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: rgb(24, 189, 189);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5; 
}
.navbarSmallScreenOverlay .overlayClose{
    font-size: 27px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media(max-width: 1150px) {
    .navItems {
        display: none;
    }
    .navbarSmallScreen{
        display: flex;
    }
}