.testimonialsContainer{
    display: flex;
    /* width: 100%; */
    height: 110vh;
    margin: 50px;
    padding: 25px;
    background-color: rgb(24, 189, 189);
    align-items: center;
    overflow: hidden;
}
.photoVideo{
    flex: 1;
    width: 100%;
    margin-left: -25px;
    height: 110vh;
}
.photoVideo .doctorPhoto{
    height: 100%;
    /* position: absolute; */
    z-index: 1;
}
/* .photoVideo .doctorVideo{
    position: absolute;
    background-color: black;
     /* opacity: 0.9;  */
   /* height: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}*/
/*.doctorVideo .watch{
    color: white;
    text-transform: uppercase;
    font-weight: 300;

} */
.testimonials{
    flex: 1;
    overflow: hidden;
    /* margin: 30px; */
}
.outline{
    border: 3px solid white;
    border-radius: 5px;
    position: relative;
    background-color: rgb(24, 189, 189);
    padding: 5px;
    margin: 25px;
}
/* .outline .uquotes{
    left: -24px;
} */
.sliderCaption{
    color: white;
    font-size: 25px;
}
.testimony{
    display: flex;
    justify-content: flex-end;
    margin: 25px;
    padding: 20px 20px 20px 0;
}
.testimony .by{
    margin-top: 2px;
    padding: 0 12px;
    color: white;
    font-size: 12px;
}
.testimony .testimonyName{
    font-size: 25px;
    color: white;
}
.slide{
    width: 100%;
    height: auto;
    background-color: rgb(24, 189, 189);
}
.testimonials .testimonialsHeading{
    padding: 45px 25px;
    color: white;
}
.allTestimonials{
    padding: 25px;
    display: flex;
    justify-content: flex-end;
}
.allTestimonials button{
    background-color: rgb(24, 189, 189);
    border: 0px;
    font-weight: 200;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    padding: 12px;
}
.allTestimonials button:hover{
    color: #184f68;
    transition: 0.4s ease-in-out;
}

@media(max-width: 1150px){
    .testimonialsContainer{
        flex-direction: column;
        width: 50%;
        height: 140vh;
        margin: auto;
        padding: auto;
    }
    .photoVideo img{
        width: 100%;
        height: auto;
    }
    .testimonialSliderContainer{
        margin: 5px;
    }
    .outline .sliderCaption{
        font-size: 18px;
    }
    .testimonials .testimonialsHeading{
        padding: 20px 15px;
    }
    .allTestimonials{
        padding: 15px;
    }
}