@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Fredoka&family=Open+Sans&family=Quicksand:wght@600&family=Source+Code+Pro&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&family=Fredoka&family=Open+Sans:wght@300;400&family=Quicksand:wght@600&family=Source+Code+Pro&family=Varela+Round&display=swap');


*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif;
}

Link{
  text-decoration: none;
  cursor: pointer;
}

li{
  list-style: none;
}
